<footer>
    <div class="inner">
         <section class="copyright"><a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; Desarrollador de Aplicaciones Web.</section>
    </div>
</footer>
